.card{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.navbar{
    color: rgba(31, 43, 28, 0.852);
}

.navbar a:link, .navbar a:visited, .navbar a:active { color: rgb(46, 161, 78); }
.navbar a:hover { color: rgb(68, 233, 3); }
.navbar a.active { color: red; }

#profilephoto {
    border-radius: 50%;
    border: 2px solid rgb(46, 161, 78);
  }